<div class="page-header">
	<h1>DocketMethod Resources <small>I pulled ideas from all over the place</small></h1>
</div>
<div class="row">
	<div class="span12">
		<h2>Plan Your Day</h2>
		<p><a href="http://simplemom.net/daily-docket/">Daily Docket</a></p>
		<p>This is a great way to make sure you have a plan for the day.  It's not as tedious as the Day Planner/Covey Method, no ABC123, just things you want to get done, and things that need to get done.</p>
		<p>I like to blend this with both personal and professional items, because, after all, we are both personal and professional right?</p>
		<h2>MIT's</h2>
		<p><a href="http://zenhabits.net/purpose-your-day-most-important-task/">Most Important Tasks - Zen Habits</a></p>
		<h2>Focus Items</h2>
		<p><a href="http://www.franklincovey.com/tc/mediaengine/public/files/31_sampleplanner.pdf">Franklin Covey</a></p>
		<p>Me</p>
		<h2>Activity Log</h2>
		<p>Me</p>
		<h2>Action items</h2>
		<p><a href="http://www.actionmethod.com/">The Action Method</a></p>
		<h2>Memo's</h2>
		<p>Me</p>
		<h2>Pomodoros</h2>
		<p><a href="http://www.pomodorotechnique.com/">The Pomodoro Technique</a></p>
		<h2>Distractions</h2>
		<p>Internal or external.  Taken from pomodorotechnique.</p>
		<h2>Plan Your Week</h2>
		<p><a href="http://www.franklincovey.com/tc/mediaengine/public/files/31_sampleplanner.pdf">Franklin Covey</a></p>
		<h2>Weekly Planning Grid</h2>
		<p><a href="http://www.43folders.com/2005/09/01/ben-franklin-keeper-of-his-own-permanent-record">43 Folders</a></p>
		<p><a href="http://en.wikipedia.org/wiki/Benjamin_Franklin#Thirteen_Virtues">Ben Franklin's Virtues</a></p>
		<p><a href="http://thirteenvirtues.com/">Ben Franklin's Grid</a></p>
		<p>I started tracking habits in a grid, and then I finally read ben franklins autobiography and realized that he had a similar technique :)</p>
		<h2>Tiny Habits</h2>
		<p><a href="http://tinyhabits.com/"> B. J. Foggs Tiny Habits</a></p>
		<p>This concept completely changed my approach to forming new habits.</p>
		<h2>Weekly Review</h2>
		<p><a href="http://www.franklincovey.com/tc/mediaengine/public/files/31_sampleplanner.pdf">Franklin Covey</a></p>
	</div>
</div>
<hr/>
<div class="row">
	<div class="span12">
		<h2>My Tools</h2>
			<h3>Remember The Milk</h3>
			<span class="label label-success">action tool</span>	
			<p>I lover remember the milk.  If you follow me at all, you know I'm obsessed with todo apps.  I've tried a bunch of them, but I still keep coming back to rtm.  It's just so damn easy to enter tasks.  The shorthand is so elegant, and makes entering a task incredibly easy.</p>
			<a href="http://rememberthemilk.com">IMO the best todo system for</a>
			<br/>
			<a href="http://www.rememberthemilk.com/services/iphone/">The best iPhone todo app</a>
			<h3>Evernote</h3>
			<span class="label label-success">action tool</span>			
			<span class="label">collection tool</span>
			<span class="label label-info">review tool</span>
			<br/>
			<p>You've heard of it, and if you don't use it, you should start today! I use evernote as an archive for a lot of different types of information.  It's my inbox for backburner ideas.  The someday items, or things that I really just need to think about before they end up in one of my action tools.</p>
			<a href="http://www.evernote.com/evernote/">Evernote</a>
			<h3>Trello</h3>
			<span class="label label-success">action tool</span>
			<span class="label label-warning">project tool</span>			
			<h3>Pivotal Tracker</h3>
			<span class="label label-success">action tool</span>
			<span class="label label-warning">project tool</span>			
			<h3>Field Notes</h3>
			<span class="label">collection tool</span>			
			<h3>Moleskine</h3>
			<span class="label">collection tool</span>
			<span class="label label-info">review tool</span>			
			<h3>iPhone</h3>
			<span class="label">collection tool</span>
			<span class="label label-info">review tool</span>						
			<h3>Pens/Pencils</h3>
			<span class="label label-success">action tool</span>
			<span class="label">collection tool</span>
			<span class="label label-warning">project tool</span>			
			<span class="label label-info">review tool</span>
	</div>
</div>
<hr/>
<div class="row">
	<div class="span12">
		<h2>Books</h2>
		<ul>
			<li><a href="http://www.amazon.com/Getting-Things-Done-Stress-Free-Productivity/dp/0142000280">Getting Things Done!</a></li>
			<li><a href="http://www.amazon.com/The-Power-Less-Limiting-Essential/dp/1401309704">The Power of Less</a></li>
			<li><a href="http://www.amazon.com/The-Habits-Highly-Effective-People/dp/0743269519">7 Habits of Highly Effective People</a></li>
			<li><a href="http://www.amazon.com/Making-Ideas-Happen-Overcoming-Obstacles/dp/159184312X">Making Ideas Happen</a></li>
			<li><a href="http://www.amazon.com/The-4-Hour-Workweek-Escape-Anywhere/dp/0307353133">4 hour work week</a></li>
			<li><a href="http://www.amazon.com/Rework-Jason-Fried/dp/0307463745">Reworked</a></li>
			<li><a href="http://www.amazon.com/Linchpin-Are-Indispensable-Seth-Godin/dp/1591843162">Linchpin</a></li>
			<li><a href="http://www.amazon.com/No-More-Mondays-Yourself-Revolutionary/dp/0385522525">No More Monday's</a></li>
			<li><a href="http://www.amazon.com/Eat-That-Frog-Great-Procrastinating/dp/1576754227/">Eat That Frog</a></li>
			<li><a href="http://www.amazon.com/QBQ-The-Question-Behind-Accountability/dp/0966583299">QBQ</a></li>
			<li><a href="http://www.amazon.com/Crush-It-Time-Cash-Passion/dp/0061914177">Crush It</a></li>
			<li><a href="http://www.amazon.com/Enchantment-Changing-Hearts-Minds-Actions/dp/1591843790">Enchantment</a></li>
			<li><a href="http://www.amazon.com/The-Power-Habit-What-Business/dp/1400069289">The Power of Habit</a></li>
			<li><a href="http://www.amazon.com/The-Lean-Startup-Entrepreneurs-Continuous/dp/0307887898">The Lean Startup</a></li>
			<li><a href="http://www.amazon.com/Talent-Overrated-World-Class-Performers-EverybodyElse/dp/1591842247">Talent is Overrated</a></li>
			<li><a href="http://www.amazon.com/The-Goal-Process-Ongoing-Improvement/dp/0884270610">The Goal</a></li>
			<li><a href="http://www.amazon.com/Tribes-We-Need-You-Lead/dp/1591842336">Tribes</a></li>
			<li><a href="http://www.amazon.com/The-Talent-Code-Greatness-Grown/dp/055380684X">The Talent Code</a></li>
			<li><a href="http://www.amazon.com/Drive-Surprising-Truth-About-Motivates/dp/0143145088">Drive</a></li>
			<li><a href="http://www.amazon.com/Switch-Change-Things-When-Hard/dp/0385528752">Switch</a></li>
		<ul>
	</div>
</div>
<hr/>
<div class="row">
	<div class="span12">
		<h2>Videos</h2>
		<iframe src="http://player.vimeo.com/video/39441590" width="560" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		<br/>
		<br/>
		<iframe src="http://player.vimeo.com/video/39020426" width="560" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>			
		<br/>	
		<br/>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/u6XAPnuFjJc" frameborder="0" allowfullscreen></iframe>
		<br/>
		<br/>
		<iframe width="420" height="315" src="http://www.youtube.com/embed/jSlwuafyUUo" frameborder="0" allowfullscreen></iframe>
		<br/>
		<br/>
		<iframe width="420" height="315" src="http://www.youtube.com/embed/Cpc-t-Uwv1I" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
<div class="row">
	<div class="span12">
		<img src="http://artistmotherteacher.com/wp-content/uploads/2011/05/Picture-5.png" "Ira Glass Quote">
		
		
	</div>
</div>

