<h1>Colophon</h1>
<p>This site was build using the following open source technologies</p>
<h2>Twitter Bootstrap</h2>
<p><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></p>
<h2>Sinatra</h2>
<p><a href="http://www.sinatrarb.com/">Sinatra</a></p>
<h2>Underscore.js</h2>
<p><a href="http://documentcloud.github.com/underscore/">_  (underscore)</a></p>
<h2>jQuery.js</h2>
<p><a href="http://jquery.com/">jquery</a></p>
<h2>Backbone.js</h2>
<p><a href="http://documentcloud.github.com/backbone/">Backbone.js</a></p>
<h2>Hosted on Heroku</h2>
<p><a href="http://heroku.com">Heroku</a></p>
