<div class="page-header">
	<h1>Today's Docket <small>sample</small></h1>			
</div>

<div class="row">
</div>
<div class="row">
  <div class="span6">
	<h2>MIT <small>3 most important tasks</small></h2>
	
	<ul id="mit_items">
		<li id="mit_1"><span>Take truck</span></li>
		<li id="mit_2"><span>ESA Transfers</span></li>
		<li id="mit_3"><span>User Stories for SV</span></li>
	</ul>
	
	</div>
  <div class="span6">
		<h2>Focus <small>3 weekly focus items</small></h2>	
		<ul>
			<li>Diet and Fitness</li>
			<li>Order</li>
			<li>Kindness</li>
		</ul>
  </div>
	<hr>
</div>
<hr>
<div class="row">
  <div class="span6">
	<h3>Pomodoros</h3>
		<input type="checkbox" name="some_name" value="" id="some_name">
		<input type="checkbox" name="some_name" value="" id="some_name">
		<input type="checkbox" name="some_name" value="" id="some_name">
		<input type="checkbox" name="some_name" value="" id="some_name">
		&nbsp;&nbsp;
		<input type="checkbox" name="some_name" value="" id="some_name">
		<input type="checkbox" name="some_name" value="" id="some_name">
		<input type="checkbox" name="some_name" value="" id="some_name">
		<input type="checkbox" name="some_name" value="" id="some_name">
		<br>
		
	</div>
  <div class="span6">
		<h3>Distractions > 10 min</h3>
		<input type="checkbox" name="some_name" value="" id="some_name">
		<input type="checkbox" name="some_name" value="" id="some_name">
		<input type="checkbox" name="some_name" value="" id="some_name">
		<input type="checkbox" name="some_name" value="" id="some_name">
		&nbsp;&nbsp;
		<input type="checkbox" name="some_name" value="" id="some_name">
		<input type="checkbox" name="some_name" value="" id="some_name">
		<input type="checkbox" name="some_name" value="" id="some_name">
		<input type="checkbox" name="some_name" value="" id="some_name">
  </div>
</div>
<hr>
<div class="row">
	<div class="span12">
		<h3>Activity Log <small>keep 'em under an hour</small></h3>
		<table class="table table-striped table-bordered">
			<thead>
				<tr><th>Header</th></tr>
			</thead>
			<tbody>
				<tr><td>Data</td></tr>
				<tr><td>Data</td></tr>
				<tr><td>Data</td></tr>
				<tr><td>Data</td></tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="span12">	
		<h2>Action Items <small>things you need to add to your todo system</small></h2>
		<ul id="action_items">
			<li><p>=>: call shop about truck</p></li>
			<li><p>=>: talk to ryan about SV</p></li>
			<li><p>=>: look into encryption on iOS</p></li>
			<li id="add_action_item"><input type="text" name="new_action_item" value="" id="new_action_item"></li>
		</ul>
		<input id="insert_action_item" type="button" value="+" class="btn btn-success">
	</div>	
</div>

