<h1>History <small>sample</small></h1>
<table class="table table-striped table-bordered">
	<thead>
		<tr><th>Week</th><th>Dockets</th><th>Grid</th></tr>
	</thead>
	<tbody>
		<tr><td><a href="#">week 4</a></td><td><a href="/docket">3 dockets</a></td><td><a href="/grid">grid</a></td></tr>
		<tr><td>week 3</td><td><a href="/docket">3 dockets</a></td><td><a href="/grid">grid</a></td></tr>
		<tr><td>week 2</td><td><a href="/docket">3 dockets</a></td><td><a href="/grid">grid</a></td></tr>
		<tr><td>week 1</td><td><a href="/docket">3 dockets</a></td><td><a href="/grid">grid</a></td></tr>
	</tbody>
</table>