
<div class="page-header">
	<h1>Getting the Right Things Done <small>DocketMethod</small></h1>
</div>
<div class="row">
	<div class="span4">
		<h2>The Docket Method</h2>

		<p>The purpose of the docket method is to keep you focused and working on your three most important tasks of the day.
			One of the biggest killers of productivity are distractions.  This system is designed to enable you to quickly deal with distractions and get back to work.
		</p>
	</div>
	<div class="offset2 span6">
		<img src="/img/docket-screenshot.png" width="500" alt="Docket, By Qteko">
	</div>
</div>
<div class="row">
	<div class="span6">	
		<h3>3 Most Important Tasks</h3>
		<p>What are the three most important things you should do today?  I know you have a lot to do, but really trim this down to three, one is even better.</p>
		<p>Start with "I would consider today a success if I..." what?  That's the thing you need to add to MIT.</p>
		<p>I like to set up 3 MIT's for my week (weekly planning grid coming soon), and then I use those and other info to help me decide what are my MIT today!</p>
	</div>	
</div>

<div class="row">
	<div class="span6">	
		<h3>Action Items</h3>
		<p>The next time one of your coworkers walks up and asks you to do something, quickly capture it as an action item and get back to work!</p>
	</div>	
</div>

<div class="row">
	<div class="span6">
		<h3>Notes</h3>
		<p>I see, it's not your coworkers, it's your own mind.  It's always coming up with ideas isn't it? Quickly jot those ideas down in the note sections and get back to work!</p>
	</div>
</div>

<div class="row">
	<div class="span6">
		<h3>Activity Log</h3>
		<p>The only way to know if you're actually GTD is to track your progress.  That's what the activity log is for.  Over the years I've created a short hand method for quickly capturing what I'm working on.</p>		
	</div>
</div>

<div class="row">
	<div class="span3">
		<h4>Productive p</h4>
		<p>For example, let's say I spent 30 minutes responding to email about an important project. My log entry would look something like this:</p>		
		<p><code>p 800-830, responded to email re:big huge project. created discussion on base camp</code></p>
		<p>let me break that down:
			<ul>
				<li>p = productive</li>
				<li>800-830 = 8:00am to 8:30am </li>
				<li>, = anything after the comma is a brief description of what I did</li>
			</ul>
		</p>
	</div>
	<div class="span3">
		<h4>Externally Distraction [e]</h4>
		<p>We are interrupted all the time.  When these interruptions last more than 10 minutes I like to log them so that I can see if there are any patterns</p>
		<p><code>[e] 800-830, chatted with team mates about the iOS meetup</code></p>
		<p>let me break that down:
			<ul>
				<li>[e] = external distraction</li>
				<li>800-830 = 8:00am to 8:30am </li>
				<li>, = anything after the comma is a brief description of what I did</li>
			</ul>
		</p>
	</div>
	<div class="span3">
		<h4>Internally Distraction [i]</h4>
		<p>We all accidentally click a link from our twitter feed and end up surfing the web mindlessly from time to time.  If this happens for more than 10 minutes I log it too</p>
		<p><code>[i] 800-830, got lost on lifehacker trying to be productive...:O</code></p>
		<p>let me break that down:
			<ul>
				<li>[i] = internal distraction</li>
				<li>800-830 = 8:00am to 8:30am </li>
				<li>, = anything after the comma is a brief description of what I did</li>
			</ul>
		</p>
	</div>
	<div class="span3">
		<h4>Pomodoro (p)</h4>
		<p>I use the pomodoro technique when I really want to focus on a distinct task for a block of time.  It's an awesome technique for getting things done!</p>
		<p><code>(p) 800-830, completed edit workflow in the activity list</code></p>
		<p>let me break that down:
			<ul>
				<li>(p) = pomodoro - complete focus on task at hand</li>
				<li>800-830 = 8:00am to 8:30am </li>
				<li>, = anything after the comma is a brief description of what I did</li>
			</ul>
		</p>		
	</div>
</div>
	
	
</div>