<div class="page-header">
	<h1>Qteko <small>Be creative, have fun, serve others, and make great things!
	</small></h1>
</div>
<div class="row">
	<div class="span12">
		<h2 id="ios">iOS Work</h2>		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div> <!-- end of row -->
<hr/>
<div class="row">
	<div class="span6">
		<h2>University Laundry</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="span4">
		<a href="http://itunes.apple.com/app/my-laundry/id518284866?mt=8" class="thumbnail" target="_blank">
			<img src="/img/universitylaundry.jpeg" alt="University Laundry Screenshot">
		</a>
	</div>
</div> <!-- end of row -->
<hr/>
<div class="row">
	<div class="span6 pull-right">
		<h2>Game Plan HQ</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="span4">
		<a href="http://itunes.apple.com/us/app/game-plan-hq/id456074527?mt=8&ign-mpt=uo%3D4" class="thumbnail" target="_blank">
			<img src="/img/gameplan.jpeg" alt="Game Plan HQ Screenshot">
		</a>
	</div>
	
</div><!-- end of row -->
<hr/>
<div class="row">
	<div class="span6">
		<h2>Tally Things</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="span4">
		<a href="http://itunes.apple.com/app/tally-things/id387650080?mt=8" class="thumbnail" target="_blank">
			<img src="/img/tallythings-ios.jpeg" alt="Docket, By Qteko">
		</a>
	</div>
</div> <!-- end of row -->
<hr/>
<div class="row">
	<div class="span6 pull-right">
		<h2>Bizeeti</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="span4">
		<a href="http://itunes.apple.com/us/app/bizeeti/id408416095?mt=8&ls=1" class="thumbnail" target="_blank">
			<img src="/img/bizeeti-pulse.jpeg" alt="Bizeeti Screenshot">
		</a>
	</div>
	
</div><!-- end of row -->
<hr/>

<div class="row">
	<div class="span12">
		<h2 id="web">Web Work</h2>		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div> <!-- end of row -->
<hr/>

<div class="row">
	<div class="span6">
		<h2>Qteko.com</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="span6">
		<div class="thumbnail">
			<img src="/img/qteko-archive.png" class="span6" alt="Qteko.com Archive Photo">
      <h5>qteko.com</h5>
		</div>
	</div>
</div> <!-- end of row -->
<hr/>
<div class="row">
	<div class="span6 pull-right">
		<h2>via.mdumc.com</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="span6">
		<a href="http://via.mdumc.org" target="_blank" class="thumbnail">
			<img src="/img/via.mdumc.png" class='span6' alt="Via website thumbnail">
      <h5>via.mdumc.org</h5>
		</a>
	</div>
	
</div><!-- end of row -->
<hr/>
<div class="row">
	<div class="span6">
		<h2>Tally Things</h2>
		<p>Tally Things is a simple application that will allow you to keep a running tally of anything. Do you count food points? Why not let tally things keep track of that for you. Tally Things keeps a running tally, let's you know when your last tally was recorded, and allows you to add, remove, or reset your count.</p>
		<h4>Tech Specs</h4>		
		<ul>
			<li>sinatra</li>
			<li>haml</li>
			<li>960 grid</li>
			<li>heroku</li>
		</ul>
		<span class="label">Designed and developed by me :)</span>
	</div>
	<div class="span6">
		<a href="http://tallythings.com" target="_blank" class="thumbnail">
			<img src="/img/tallythings.png" class='span6' alt="Tally Things website thumbnail">
      <h5>tallythings.com</h5>
		</a>
	</div>
</div> <!-- end of row -->
<hr/>
<div class="row">
	<div class="span6 pull-right">
		<h2>In A Pickle Catering LLC</h2>
		<p>In A Pickle Catering is a small business operated by Alexis Goodson in San Antonio Texas.  In 2010 Alexis decided to put her culinary skills to work by providing home cooked meals for her busy friends.</p>
		<h4>Tech Specs</h4>
		<ul>
			<li>rails</li>
			<li>960 grid</li>
			<li>TypeKit fonts</li>
			<li>heroku</li>
		</ul>
		<span class="label">Designed and developed by me :)</span>
	</div>
	<div class="span6">
		<a href="http://inapicklecateringllc.com" target="_blank" class="thumbnail">
			<img src="/img/inapicklecateringllc.png" class='span6' alt="In A Pickle Catering LLC website thumbnail">
      <h5>inapicklecateringllc.com</h5>
		</a>
	</div>
	
</div><!-- end of row -->
<hr/>
<div class="row">
	<div class="span6">
		<h2>mdumcresponse.com</h2>
		<p>MDUMC Response was created to help Houstonians stay up-to-date with the Gulf Coast recovery trips of Memorial Drive United Methodist Church.</p>
		<h4>Tech Specs</h4>
		<ul>
			<li>asp.net 2.0</li>
			<li>SQL 2008</li>
			<li>freecsstemplates.org</li>
			<li>Integrates with Blogger.com</li>
			<li>hosted on godaddy</li>
		</ul>
		
		<span class="label">Designed by Free CSS Templates and developed by me :)</span>
	</div>
	<div class="span6">
		<a href="http://mdumcresponse.com" target="_blank" class="thumbnail">
			<img src="/img/mdumcresponse.png" class='span6' alt="MDUMC Response website thumbnail">
      <h5>mdumcresponse.com</h5>
		</a>
	</div>
</div> <!-- end of row -->
<hr/>
<div class="row">
	<div class="span6 pull-right">
		<h2>RunnersQ</h2>
		<p>When I want to learn a new technology, I typically build some type of workout logging application.  So when asp.net mvc was released, RunnersQ was born.</p>
		<ul>
			<li>asp.net MVC rc6</li>
			<li>SQL Server</li>
			<li>linq2Sql</li>
			<li>jquery</li>
			<li>jquery UI</li>
			<li>960 grid</li>
			<li>godaddy</li>
		</ul>
		<span class="label">Designed and developed by me :)</span>
	</div>
	<div class="span6">
		<a href="http://runnersq.com" target="_blank" class="thumbnail">
			<img src="/img/runnersq-archive.png" class='span6' alt="RunnersQ website thumbnail">
      <h5>runnersq.com</h5>
		</a>
	</div>
	
</div><!-- end of row -->
<hr/>
<div class="row">
	<div class="span12">
		<h2>About Me</h2>
	</div>
</div>










	
	
