<div class="page-header">
	<h1>Kevin W. Lee <small>iOS and Web developer
	</small></h1>
</div>
<div class="row">
	<div class>
		
	</div>
	<div class="span1">
		<a href="http://twitter.com/kevinwlee" target="_blank" >
			<img src="https://api.twitter.com/1/users/profile_image?screen_name=kevinwlee&size=bigger">
			<h5>@kevinwlee</h5>
		</a>
    
	</div>
	<div class="span10">
		<blockquote>
			<p>Be creative, have fun, serve others, and make great things!</p>
			 <small>me</small>
		</blockquote>
		<h6>Thanks for taking a look at my portfolio :)</h6>
		
	</div>
</div> 
<hr>
<div id="ios">
</div>
<div class="row">
	<div class="span12">
		<h2>iOS Work</h2>	
		<div class="well">	
			<p>Late in 2009 I started to dabble in iOS development.  Maybe it was the lure of the AppStore, or the tedium of building back office web applications, I'm not sure, but iOS quickly changed from an interest into a passion.</p>
			<p>I'm currently the lead iOS developer at ChaiONE Inc.  I spend most of my days prototyping ideas and working on iPad and iPhone applications.  I pretty much live and breath this stuff :)</p>
		
			<p>If you have a small project that you'd like to get to the app store let me know (@kevinwlee) I'd love to work with you!</p>
			<span class="label label-info">I do contract work too</span>
		</div>		
	</div>
</div> <!-- end of row -->
<hr/>
<div class="row">
	<div class="span6">
		<h2>University Laundry</h2>
		<p>University Laundry Tracker allows you to easily track your laundry through the entire cleaning process. Using a baseball metaphor, you can follow your bundled and campus cleaners bags around the bases until they are CLEAN and back in your hands. In addition to tracking, we have added a map with the complete truck and lobby service daily schedule. By utilizing geo locations and Google Maps, you can find the truck's exact location.</p>
		<p><span class="label label-success">Launched March 2012</span></p>
		<h4>Tech Specs</h4>
		<ul>
			<li>iOS</li>
			<li>AFNetworking</li>
			<li>Integrates with ASP.net MVC API</li>
			<li>Crashlytics</li>
			<li>TestFlight Live</li>
		</ul>
		<h4>Team</h4>
		<p>Designed by <strong>Mike Trozzo</strong></p>
		<p>Developed by me</p>
	</div>
	<div class="span4">
		<a href="http://itunes.apple.com/app/my-laundry/id518284866?mt=8" class="thumbnail" target="_blank">
			<img src="/img/universitylaundry.jpeg" alt="University Laundry Screenshot">
		</a>
	</div>
</div> <!-- end of row -->
<hr/>
<div class="row">
	<div class="span6 pull-right">
		<h2>Game Plan HQ</h2>
		<p>Built for enterprise sales & marketing professionals who need real-time access to the most effective sales & marketing collateral on-the-go, Game Plan is a break-through mobile sales enablement and presentation tool.</p>
		<p>Game Plan connects to popular cloud and private cloud storage solutions such as Box, SharePoint, DropBox, and Amazon S3. No need to move your files to yet another storage service; Game Plan HQ connects to them right where they are.</p>
		<p>Invite others (such as an entire sales team) to link to your stored files and view relevant materials on their own iPads.</p>
		<p>See what everyone is using, what's working, and what's not, as Game Plan collects near-real-time analytics on every file's usage by everyone on your team. Marketing and sales departments can finally see what's going on in the field and make intelligent decisions on what is needed.</p>
		<p><span class="label label-success">Launched July 2011</span></p>
		<h4>Tech Specs</h4>
		<ul>
			<li>iOS</li>
			<li>AQGridView</li>
			<li>MGSplitViewController</li>
			<li>ASIHttpRequest</li>
			<li>Crittercism</li>
			<li>TestFlight</li>
		</ul>

		<h4>Team</h4>
		<p>Designed by <strong>a whole crew at ChaiONE</strong></p>
		<p>iOS work done by <strong>Longyi Qi</strong> and me</p>
		
	</div>
	<br/>
	<div class="span4">
		<a href="http://itunes.apple.com/us/app/game-plan-hq/id456074527?mt=8&ign-mpt=uo%3D4" class="thumbnail" target="_blank">
			<img src="/img/gameplan.jpeg" alt="Game Plan HQ Screenshot">
		</a>
	</div>
	
</div><!-- end of row -->
<hr/>
<div class="row">
	<div class="span6">
		<h2>Tally Things</h2>
		<p>Tally Things is a simple application that will allow you to keep a running tally of anything. Do you count food points? Why not let tally things keep track of that for you. Tally Things keeps a running tally, let's you know when your last tally was recorded, and allows you to add, remove, or reset your count.</p>
		<p><span class="label label-success">Launched August 2010</span></p>
		<h4>Tech Specs</h4>		
		<ul>
			<li>iOS</li>
			<li>Core Data</li>
			<li>Table View Controllers :)</li>
		</ul>
		<p>Designed and developed by me :)</p>
		
	</div>
	<div class="span4">
		<a href="http://itunes.apple.com/app/tally-things/id387650080?mt=8" class="thumbnail" target="_blank">
			<img src="/img/tallythings-ios.jpeg" alt="Docket, By Qteko">
		</a>
	</div>
</div> <!-- end of row -->
<hr/>
<div class="row">
	<div class="span6 pull-right">
		<h2>Bizeeti</h2>
		<p>Leverage the most powerful and portable all-in-one business tool, designed specifically for MLM and network marketing professionals. Bizeeti is for individuals and teams, regardless of your company.</p>
		<p><span class="label label-success">Launched January 2010</span></p>
		<h4>Tech Specs</h4>		
		<ul>
			<li>Core Data</li>
			<li>In App Purchasing</li>
			<li>Local Notifications</li>
			<li>ASIHTTPRequest</li>
			<li>Event Kit</li>
			<li>Address Book</li>
		</ul>
		<h4>Team</h4>
		<p>Designed by Two Thumbs</p>
		<p>Developed by <strong>a whole crew at ChaiONE</strong></p>
		
		
	</div>
	<div class="span4">
		<a href="http://itunes.apple.com/us/app/bizeeti/id408416095?mt=8&ls=1" class="thumbnail" target="_blank">
			<img src="/img/bizeeti-pulse.jpeg" alt="Bizeeti Screenshot">
		</a>
	</div>
	
</div><!-- end of row -->
<hr/>
<div id="web">
</div>

<div class="row">
	<div class="span12">
		<h2>Web Work</h2>	
		<div class="well">
		<p>I got my start building ASP pages back in 1999.  That progressed into 8-9 years of ASP.net consulting work.  When MVC was released I fell in love with the framework and started reading up on it's roots.  That led me to Ruby On Rails, which is where I spend most of my Web time these days.</p>
		<p>I started to dig into client-side web development in 2008, and quickly jumped on the jQuery band wagon.  That blossomed into full on javascript love.  I'm currently an organizer of the HoustonJS meetup and have been known to speak about all things javascript.</p>
		</div>	
	</div>
</div> <!-- end of row -->
<hr/>

<div class="row">
	<div class="span6">
		<h2>Qteko.com</h2>
		<p>This is the old version of this site, and was my first public Ruby on Rails apps.  I used it to showcase books, tweets, blogs, and screencasts.  For the first few years it was hosted under the domain "chewyq.com".  I sold that domain in 2011, and have since replace the site with this one.</p>
		<p><span class="label label-success">Launched November 2009</span></p>
		<h4>Tech Specs</h4>		
		<ul>
			<li>Rails 2.1</li>
			<li>haml</li>
			<li>960 grid</li>
			<li>Heroku</li>
		</ul>
		<p><span>Designed and developed by me :)</span></p>
		
	</div>
	<div class="span6">
		<div class="thumbnail">
			<img src="/img/qteko-archive.png" class="span6" alt="Qteko.com Archive Photo">
      <h5>qteko.com</h5>
		</div>
	</div>
</div> <!-- end of row -->
<hr/>
<div class="row">
	<div class="span6 pull-right">
		<h2>via.mdumc.com</h2>
		<p>At MDUMC, the expectation is that each member will Worship, Grow, Witness, Give weekly.	It is holy, at times hard, but always happy work.</p>

		<p>Via enabled members to take a self assessment. From there they can log and track their growth as they interact with MDUMC.</p>
		<p><span class="label label-success">Launched January 2012</span></p>
		<h4>Tech Specs</h4>		
		<ul>
			<li>Rails 3.1</li>
			<li>Twitter Bootstrap</li>
			<li>Devise</li>
			<li>Heroku</li>
		</ul>
		<p><span>Designed and developed by me :)</span></p>
		
	</div>
	<div class="span6">
		<a href="http://via.mdumc.org" target="_blank" class="thumbnail">
			<img src="/img/via.mdumc.png" class='span6' alt="Via website thumbnail">
      <h5>via.mdumc.org</h5>
		</a>
	</div>
	
</div><!-- end of row -->
<hr/>
<div class="row">
	<div class="span6">
		<h2>Tally Things</h2>
		<p>Tally Things is a simple application that will allow you to keep a running tally of anything. Do you count food points? Why not let tally things keep track of that for you. Tally Things keeps a running tally, let's you know when your last tally was recorded, and allows you to add, remove, or reset your count.</p>
		<p><span class="label label-success">Launched August 2010</span></p>
		<h4>Tech Specs</h4>		
		<ul>
			<li>Sinatra</li>
			<li>haml</li>
			<li>960 grid</li>
			<li>Heroku</li>
		</ul>
		<p><span>Designed and developed by me :)</span></p>
	</div>
	<div class="span6">
		<a href="http://tallythings.com" target="_blank" class="thumbnail">
			<img src="/img/tallythings.png" class='span6' alt="Tally Things website thumbnail">
      <h5>tallythings.com</h5>
		</a>
	</div>
</div> <!-- end of row -->
<hr/>
<div class="row">
	<div class="span6 pull-right">
		<h2>In A Pickle Catering LLC</h2>
		<p>In A Pickle Catering is a small business operated by Alexis Goodson in San Antonio Texas.  In 2010 Alexis decided to put her culinary skills to work by providing home cooked meals for her busy friends.</p>
		<p><span class="label label-success">Launched February 2011</span></p>
		<h4>Tech Specs</h4>
		<ul>
			<li>Rails</li>
			<li>960 grid</li>
			<li>TypeKit fonts</li>
			<li>Heroku</li>
		</ul>
		<p><span>Designed and developed by me :)</span></p>
	</div>
	<div class="span6">
		<a href="http://inapicklecateringllc.com" target="_blank" class="thumbnail">
			<img src="/img/inapicklecateringllc.png" class='span6' alt="In A Pickle Catering LLC website thumbnail">
      <h5>inapicklecateringllc.com</h5>
		</a>
	</div>
	
</div><!-- end of row -->
<hr/>
<div class="row">
	<div class="span6">
		<h2>mdumcresponse.com</h2>
		<p>MDUMC Response was created to help Houstonians stay up-to-date with the Gulf Coast recovery trips of Memorial Drive United Methodist Church.</p>
		<p><span class="label label-success">Launched June 2009</span></p>
		<h4>Tech Specs</h4>
		<ul>
			<li>ASP.NET 2.0</li>
			<li>SQL 2008</li>
			<li>freecsstemplates.org</li>
			<li>Integrates with Blogger.com</li>
			<li>Hosted on Godaddy</li>
		</ul>
		<p><span>Designed by Free CSS Templates and developed by me :)</span></p>
	</div>
	<div class="span6">
		<a href="http://mdumcresponse.com" target="_blank" class="thumbnail">
			<img src="/img/mdumcresponse.png" class='span6' alt="MDUMC Response website thumbnail">
      <h5>mdumcresponse.com</h5>
		</a>
	</div>
</div> <!-- end of row -->
<hr/>
<div class="row">
	<div class="span6 pull-right">
		<h2>RunnersQ</h2>
		<p>When I want to learn a new technology, I typically build some type of workout logging application.  So when asp.net mvc was released, RunnersQ was born.</p>
		<p><span class="label label-success">Launched December-ish 2008</span></p>
		<ul>
			<li>ASP.net MVC rc6</li>
			<li>SQL Server</li>
			<li>linq2Sql</li>
			<li>jquery</li>
			<li>jquery UI</li>
			<li>960 grid</li>
			<li>Hosted on Godaddy</li>
		</ul>
		<p><span>Designed and developed by me :)</span></p>
	</div>
	<div class="span6">
		<a href="http://runnersq.com" target="_blank" class="thumbnail">
			<img src="/img/runnersq-archive.png" class='span6' alt="RunnersQ website thumbnail">
      <h5>runnersq.com</h5>
		</a>
	</div>
	
</div><!-- end of row -->
<hr/>
<div id="about" class="row">
	
</div>
<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span5">
				<h2>About Me</h2>
				<hr>
				<p class="larger"> I'm an energetic, passionate, lover of life and people whose purpose in life is to be creative, encourage laughter and fun, to serve others, and to share Gods grace by loving everyone.</p>

				<p class="larger">Continuous Improvement is a huge motivator for me, and I'm committed to improving my mind, body, spirit, relationships, and finances daily.  I am committed to giving back more that I take from the world!</p>
			
				
			</div>
			<div class="span7">
				<div class="thumbnail">
					<img src="/img/family.jpeg" class="span7" alt="Family Photo">
		      <h5>Me and my family</h5>
				</div>
				
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="span5 pull-right">
				<h3>Things that I'm passionate about</h3>
				<dl>
					<dt>My Christian Faith</dt>
					<dd>I love going to church, praying, reading the bible, and am eager to learn more.</dd>

					<dt>My Family</dt> 
					<dd>I'm always looking for ways to make our family be a role model for others.  I want it to be fun, loving, and exciting, but also organized, efficient, and tidy.</dd>

					<dt>Reading</dt> 
					<dd>I'm an avid audiobook listener and book reader.  I spend 10+ hours a week commuting and can't imagine driving without some sort of productivity/business/self-help book playing.  This bodes well for some of my other passions as you will see!</dd>

					<dt>Personal Development</dt> 
					<dd>Zig, Covey, Tony Robbins, Dave Ramsey, etc.  this is perhaps my favorite thing to focus on in my free time.  I love thinking, planning, dreaming, goal setting, resolution making, and learning how to get the most out of every day.  I thrive on creating plans, and following them.</dd>

					<dt>Todo Lists</dt> 
					<dd>I'm obsessed with todo lists in general, and love trying out now apps and approaches to help me keep track of all the things that I want and need to do.  You name it and I've probably tried it, or will shortly :p</dd>

					<dt>Exercise</dt> 
					<dd>Just Do It, up at 4am on most days, running, swimming, riding, pilates, insanity, you name it.  4-5 is my hour of power( be grateful, envision , and exercise)</dd>

					<dt>Personal Finance</dt> 
					<dd>I love to track all my pennies, creating budgets, planning for retirement, planning for short term goals, tracking my income, expenses, net worth.  Mint.com is like my dream come true!</dd>

					<dt>Building Apps</dt> 
					<dd>i'm a software developer and love prototyping ideas on for both iOS and web.  it just something I love doing.  I've got a huge list of app ideas, in fact, too many.  It's almost paralyzing, but I still love this stuff!</dd>

					<dt>Hanging with Friends</dt> 
					<dd>who doesn't love hanging out with good friends.  Laughter, stories, fellowship, you name it.  Hanging out with friends is one of my favorite ways to pass time…especially when I have free time :)</dd>

				</dl>
				
			</div>
			<div class="span7">
				<div class="thumbnail">
					<img src="/img/family-pink.jpeg" class="span7" alt="Family Photo">
		      <h5>Me and my family</h5>
				</div>
				
			</div>
		</div>
	</div>
</div>
<hr/>
<div id="contact" class="row">
	
</div>
<div class="row">
	<div class="span12">
	<h2>Contact Info <small>in order of preference :)</small></h2>
	<br>
	</div>

	<div class="span3">
		<h2>Twitter</h2>
		<p>You can always reach me on twitter.  Just send me a message and I'll respond.</p>
		<a href="http://twitter.com/kevinwlee">
		<img src="http://twitter-badges.s3.amazonaws.com/t_logo-a.png">
		<span> @kevinwlee</span>
		</a>		
	</div>
	<div class="span3">
		<h2>Tumblr</h2>
		<p>You can ask me anything on tumblr.  I randomly post things there</p>
		<a href="http://kevinwlee.tumblr.com" target="_blank">
		<img src="http://platform.tumblr.com/v1/share_2.png"/>
		</a>
	</div>
	
	<div class="span3">
		<h2>Gmail</h2>
		<p>Feel free to email me.  I usually check my email twice a day.</p>
		<a href="mailto:kevinwarrenlee@gmail.com">Email Me</a>	
		
	</div>
	
	<div class="span3">
		<h2>YouTube</h2>		
		<p>From time to time I post videos of stuff that I'm working on.</p>
		<a href="http://www.youtube.com/user/ChewyQ?feature=creators_cornier-%2F%2Fs.ytimg.com%2Fyt%2Fimg%2Fcreators_corner%2FYouTube%2F40x40_yt_white.png">
			<img src="//s.ytimg.com/yt/img/creators_corner/YouTube/40x40_yt_white.png" alt="Subscribe to me on YouTube"/>
			Subscribe Here
		</a>
		<img src="//www.youtube-nocookie.com/gen_204?feature=creators_cornier-//s.ytimg.com/yt/img/creators_corner/YouTube/40x40_yt_white.png" style="display: none"/>		
	</div>
</div>
<hr/>













	
	
