<div class="page-header">
	<h1>Settings <small>sample</small></h1>
</div>
<div class="row">
	<div class="span12">
		<h2>Account Info</h2>
		<ul>
			<li>email address:</li>
			<li>remember the milk email address:</li>
			<li>evernote email address:</li>
		</ul>		
	</div>
</div>

