<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Docket Method, by Qteko</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A productivity system that enables you to quickly deal with distractions so that you can get back to work on your most important tasks.">
    <meta name="author" content="Kevin W. Lee">

    <link href="/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/docket.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">

    <script src="/js/json2.js"></script>
    <script src="/js/jquery-1.7.1.min.js"></script>
    <script src="/js/underscore-1.3.1.js"></script>
		<script src="/js/jquery-ui-1.8.19.custom.min.js"></script>
		
    <script src="/js/bootstrap.js"></script>
    <script src="/js/backbone.js"></script>
    <script src="/js/backbone-localstorage.js"></script>
		
		<!-- backbone models -->
		<script src="/js/App/models.js"></script>
		<script src="/js/App/views.js"></script>
		<script src="/js/App/weeks.js"></script>
		<script src="/js/App/action_items.js"></script>
		<script src="/js/App/mit.js"></script>
		<script src="/js/App/distractions.js"></script>
		<script src="/js/App/pomodoros.js"></script>
		<script src="/js/App/activities.js"></script>

		<script src="/js/App/notes.js"></script>
		<script src="/js/App/focus_items.js"></script>
		<script src="/js/App/dockets.js"></script>

		<!-- Backbone App-->
		<script src="/js/App/docket_app.js"></script>

		
		<!-- backbone view templates -->
		
		<!-- Docket History Views -->
		<script type="text/template" id="dockets-template">
			<div id="nav-container">
			</div>
			<div class="page-header">
				<h1>Dockets <small>sample</small></h1>
			</div>
			<div class="row">
				<div id="dockets-container" class="span8">
				
				</div>
			</div>
		</script>
				
		<script  type="text/template" id="dockets-list-template">
			<ol id="dockets-list-items"> <h2>History <small>all your dockets are belong to us</small></h2>
			</ol>
		</script>		
		<script type="text/template" id="dockets-list-items-template">
			<li><%= this.model.get("date") %></li>
		</script>

		<script type="text/template" id="docket-readonly-template">
			<div id="nav-container">
			</div>
			<div class="page-header">
				<h1>Daily Docket History <small>You Got Things done!</small></h1>			
			</div>
			<div class="row">
				<div id="dockets-container" class="span8">
					<%= this.model.get("date") %>
				</div>
			</div>
			<div class="row">
				<div class="span6">
					<div class="row">
						<div id="mit-container" class="span6 ">
						</div>			
					</div>
					<div class="row">
						<div id="pomodoros-container" class="span3">
							<h2>Pomodoros</h2>
							<div>3</div>
						</div>
						<div id="distractions-container" class="span3">
							<h2>Distractions</h2>
							<div>2</div>
						</div>
					</div>
					<br/>
					<hr/>
					<div class="row">
						<div id="action-items-container" class="span6">	
							<h2>Action Items <small>completed</small></h2>
							<ul>
								<li>one</li>
								<li>two</li>
								<li>three</li>
							<ul>
						</div>																	
					</div>
					<hr/>
					<div class="row">
					</div>
				</div>
				<div id="note-container" class="span6">
				<h2>Notes <small>taken</small></h2>
				<ul>
					<li>one</li>
					<li>two</li>
					<li>three</li>
				<ul>
				
				</div>
				<div id="activities-container" class="span6">
				<h2>Activities <small>logged</small></h2>
				<ul>
					<li>one</li>
					<li>two</li>
					<li>three</li>
					<li>one</li>
					<li>two</li>
					<li>three</li>
					<li>one</li>
					<li>two</li>
					<li>three</li>
					<li>one</li>
					<li>two</li>
					<li>three</li>
					<li>one</li>
					<li>two</li>
					<li>three</li>
					
				<ul>
				
			  </div>
				
			</div>
			<hr/>
			<div class="row">
			
				<div id="focus-container" class="span3">
			  </div>								
			</div>
			
			
		</script>
		
		<!-- The Daily Docket Template -->
		<script type="text/template" id="docket-template">
			<div id="nav-container">
			</div>
			<div class="page-header">
				<h1>Daily Docket <small>Get Things Done!</small><a id="reset-docket" href="/docket" class="btn btn-success pull-right"><i class="icon-repeat icon-white"></i> Reset Docket</a></h1>			
			</div>
			<div class="row">
				<div class="span6">
					<div class="row">
						<div id="mit-container" class="span6 ">
						</div>			
					</div>
					<div class="row">
						<div id="pomodoros-container" class="span3">
						</div>
						<div id="distractions-container" class="span3">
						</div>
					</div>
					<br/>
					<hr/>
					<div class="row">
						<div id="action-items-container" class="span6">	
						</div>																	
					</div>
					<hr/>
					<div class="row">
					</div>
				</div>
				<div id="note-container" class="span6">
				</div>
				<div id="activities-container" class="span6">
			  </div>
				
			</div>
			<hr/>
			<div class="row">
			
				<div id="focus-container" class="span3">
			  </div>								
			</div>
		</script>

		<script type="text/template" id="important-task-template">
		<div class="task-view">
			<li <%= done ? 'class="complete"' : '' %> >
				<p>
					<span class="btn btn-inverse btn-mini done">
						<i class="icon-ok icon-white "></i>
					</span> 
					<span class="action-item"> 
						<%= this.model.get("title") %>
					</span>
				</p>
			</li>				
		</div>
		<div class="task-edit">
			<li>
				<p>
					<input type="text" value="<%=this.model.get('title') %>" class="edit span4">
					<span class="pull-right">
						<span class="btn btn-success btn-mini edit-button">
							<i class="icon-ok icon-white "></i>
						</span>
						<span class="btn btn-warning btn-mini cancel-edit-button">
							<i class="icon-remove icon-white "></i>
						</span>
					</span>
				</p>
			</li>
		</div>
		</script>
		
		<script type="text/template" id="mit-template">
			<h2>MIT <small>3 most important tasks</small></h2>
			<div class="well">
				<ol id="mit-items">					
				</ol>
			</div>
		</script>

		<script type="text/template" id="focus-template">
			<h2>Focus <small>3 weekly focus items</small></h2>	
			<ul id='focus'>
			<% _.each(this.model.models, function(focusItem) { %>
				<li><%= focusItem.get("title") %></li>
			<% }); %>
			</ul>
		</script>

		<script type="text/template" id="activity-template">
				<div class="activity-view">
					<li>
						<p><%= this.model.get("title") %>
							<span id="activity-delete" class="btn btn-danger btn-mini pull-right delete-activity">
								<i class="icon-trash icon-white"></i>
							</span>
						</p>
					</li>
				</div>
				<div class="activity-edit">
					<li>
						<p>
							<input type="text" value="<%=this.model.get('title') %>" class="edit span4">
							<span class="pull-right">
								<span class="btn btn-success btn-mini edit-button">
									<i class="icon-ok icon-white "></i>
								</span>
								<span class="btn btn-warning btn-mini cancel-edit-button">
									<i class="icon-remove icon-white "></i>
								</span>
							</span>
						</p>
					</li>
				</div>
		</script>
		<script type="text/template" id="activities-template">
			<h2>Activity Log <small>keep em under an hour</small></h2>
			<div class="well">
				<ul id="activities">
					<li id="add-activity"><p><input type="text" name="new_activity" value="" id="new-activity" class="span4"></p></li>
				</ul>
			</div>
		</script>
		<script type="text/template" id="action-items-stats-template">
			<span <%= completed ? 'class="badge badge-success"' : 'class="badge"' %>><i class="icon-th-list"></i> <%= done%>/<%= total%></span>
		</script>
		<script type="text/template" id="action-item-template">
			<div class="view" id="<%=this.model.get('id') %>">
				<li <%= done ? 'class="complete"' : '' %> >
					<p>
						<span class="btn btn-inverse btn-mini done">
							<i class="icon-ok icon-white "></i>
						</span> 
						<span class="action-item"> 
							<%= this.model.get("title") %>
						</span>
						<span class="pull-right">
							<a href="mailto:?subject=<%=this.model.get("title") %>" target="_new" class="btn btn-primary btn-mini send-to"><i class="icon-envelope icon-white"></i></a>
							<span class="btn btn-danger btn-mini  delete">
								<i class="icon-trash icon-white "></i>
							</span>
						</span>
					</p>
				</li>				
			</div>
			<div class="edit">
				<li>
					<p>
						<input type="text" value="<%=this.model.get('title') %>" class="edit span4">
						<span class="pull-right">
							<span class="btn btn-success btn-mini edit-button">
								<i class="icon-ok icon-white "></i>
							</span>
							<span class="btn btn-warning btn-mini cancel-edit-button">
								<i class="icon-remove icon-white "></i>
							</span>
						</span>
					</p>
				</li>
			</div>
		</script>		
		<script type="text/template" id="action-items-template">
			<h2>Action Items <small>todo inbox </small></h2>
			<input type="text" id="new-action-item" value="" class="span5">
			<span id="stats" class="pull-right">
				
			</span>
			<div>
				<ul id="action_items" class="unstyled sortable">
					<li id="add_action_item"> </li>
				</ul>
			</div>
		</script>
		
		<script type="text/template" id="note-template">
				<div class="note-view">
					<li>
						<p><%= this.model.get("title") %>
							
						</p>
					</li>
				</div>
				<div class="note-edit">
					<li>
						<p>
							<input type="text" value="<%=this.model.get('title') %>" class="edit span4">
							<span class="pull-right">
								<span class="btn btn-success btn-mini edit-button">
									<i class="icon-ok icon-white "></i>
								</span>
								<span id="note-delete" class="btn btn-danger btn-mini pull-right delete-note">
									<i class="icon-trash icon-white"></i>
								</span>
								<span class="btn btn-warning btn-mini cancel-edit-button">
									<i class="icon-remove icon-white "></i>
								</span>&nbsp;
								
							</span>
						</p>
					</li>
				</div>
		</script>
		<script type="text/template" id="notes-template">
			<h2>Notes <small> your idea scratch pad.</small></h2>
			<div>
				<ul id="notes" class="unstyled">
					<li id="add-note"><p><input type="text" name="new_activity" value="" id="new-note" class="span4"></p></li>
				</ul>
			</div>
		</script>
		
		<script type="text/template" id="pomodoro-template">
			<span <%= done ? 'class="label label-success"' : 'class="label"' %> ><i class="icon-ok-circle icon-white"></i></span>
		</script>
		<script type="text/template" id="pomodoros-template">
			<h2>Pomodoros <small>focus</small></h2>
			<div id="pomodoros">
			</div>
		</script>

		<script type="text/template" id="distraction-template">
			<span <%= done ? 'class="label label-warning"' : 'class="label"' %> ><i class="icon-ban-circle icon-white"></i></span>
		</script>
		
		<script type="text/template" id="distractions-template">
			<h2>Distractions <small>> 10 min.</small></h2>
			<div id="distractions">
			</div>
		</script>
		
		<!-- Weekly spike -->
		<script type="text/template" id="weekly-template">
			<div id="nav-container">
			</div>
			<div class="page-header">
				<h1>Weekly Planning Grid <small>sample</small></h1>
			</div>
			<div class="row">
				<div id="grid-container" class="span8">
				</div>
				<div id="notes-container" class="span4">	
					<h2>Notes <small>daily memos</small></h2>
				</div>

			</div>
			<hr>
			<div class="row">	
				<div id="focus-container" class="span4">
					<h2>Focus <small>laser focus</small></h2>	
				</div>
				<div id="week-mit-container" class="span4">
					<h2>MIT <small>largest impact</small></h2>	
				</div>
				
				<div "tiny-habits-container" class="span4">	
					<h2>Tiny Habits <small>B.J. Fogg</small></h2>
					<p>After I ________, I will _______.</p>
				</div>	
			</div>
		</script>
		<script type="text/template" id="grid-row-template">
			<th><%=this.model.get("title")%></th>
				<td class="monday"><i ></i></td>
				<td class="tuesday"><i ></i></td>
				<td class="wednesday"><i ></i></td>
				<td class="thursday"><i ></i></td>
				<td class="friday"><i ></i></td>
				<td class="saturday"><i ></i></td>
				<td class="sunday"><i ></i></td>
		</script>
		<script type="text/template" id="grid-template">
			<h2>Activity Log <small>track small weekly goals</small></h3>
			<table class="table table-striped table-bordered">
				<thead>
					<tr><th></th><th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th><th>S</th></tr>
				</thead>
				<tbody>
					<tr id="new-habit-row"><th><input type="text" name="new-habit" value="" id="new-habit"></th><td colspan="7"></td></tr>
				</tbody>
			</table>
		</script>
		<!-- Navigation -->
		<script type="text/template" id="nav-template">
			<div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </a>
	          <a class="brand" href="/">Docket</a>
	          <div class="nav-collapse">
	            <ul class="nav">
								<li><a href="/">Home</a></li>              
								<li class="active"><a href="/docket">Today's Docket</a></li>              
		            <!--<li><a href="/docket#week">Planning Grid</a></li>-->
								<li><a href="/about">Resources</a></li>
								<li><a href="/colophon">Colophon</a></li>
	            </ul>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>
		</script>
		<!--Google Analytics -->
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-5195664-11']);
		  _gaq.push(['_setDomainName', 'docketmethod.com']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>	
  </head>
  <body>
		<div id="docket-container" class="container">
    </div> <!-- /container -->		
  </body>
</html>